*{
    box-sizing: border-box;
    margin: 0;
}
.header {
    height: 120px;
    background-color: gray;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headertext {
    color: lightblue;
    font-size: 75px;
}

.navbar {
    display: flex;
    background-color: rgb(163, 159, 159);
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 20px;
}

.navbar a:hover {
    background-color: black;
    color: white;
}

.content {
    display: flex;
    justify-content: space-around;
}

.newscontainer {
    width: 50%;
    background-color: lightgray;
    padding: 20px;
}

.newscontainer p {
    font-weight: bolder;
    font-size: 35px;
    list-style-type: none;
}

.newscontainer ul {
    width: 400px;
    padding: 20px;
    list-style-type: circle;
}

.snailcontainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.snailjpg {
    width: 270px;
}