*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: beige;
}

.header {
    height: 120px;
    background-color: gray;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headertext {
    text-shadow: 3px 3px 3px black;
    color: lightblue;
    font-size: 75px;
}

.content {
    border: 5px solid black;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(163, 159, 159);
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 20px;
}

.navbar a:hover {
    background-color: black;
    color: white;
}

.newscontainer {
    display: flex;
    justify-content: center;
    overflow: auto;
    border: 2px solid green;
    width: 40%;
    background-color: lightgray;
    padding: 20px;
}

.newscontainer p {
    font-weight: bolder;
    font-size: 35px;
    list-style-type: none;
}

.newscontainer ul {
    width: 400px;
    padding: 20px;
    list-style-type: circle;
}

.snailcontainer {
    display: flex;
    border: 2px solid red;
    align-items: center;    
    flex-direction: column;
    width: 30%;
}

.snailjpg {
    width: 270px;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        flex-direction: row;
    }

    .newscontainer {
        margin-top: 50px;
        width: 100%;
    }

    p {
        padding: 15px;
    }

    .snailcontainer {
        align-items: flex-start;
        margin-top: 50px;
        width: 100%;
    }

    
}